.outerContainer {
  height: 100vh;
  background-color: rgb(49, 75, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #234;
  height: 85%;
  width: 75%;
  display: flex;
}
