.sender {
  position: relative;
  background: orange;
  border-radius: 0.4em;
  margin: 20px;
  padding: 10px;
}

.sender:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: orange;
  border-left: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-left: -9px;
}
.receiver {
  position: relative;
  background-color: rgba(255, 255, 255, 0.12);
  color: white;
  border-radius: 0.4em;
  margin: 20px;
  padding: 10px;
}

.receiver:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-left-color: rgba(255, 255, 255, 0.12);
  border-right: 0;
  border-bottom: 0;
  margin-top: -4.5px;
  margin-right: -9px;
}
